$vue-green: #41B883
$vue-gray: #35495E

body
  padding: 100px
  font: 14px Futura, sans-serif
  color: $vue-gray

.hoverHighlight:hover
  color: $vue-green

.hoverHighlightInvert:hover
  background: $vue-green !important
  color: white
  cursor: pointer

.center
	text-align: center

=box-shadow($radius)
  box-shadow: 0 0 $radius 0 #CCC
  -moz-box-shadow: 0 0 $radius 0 #CCC
  -webkit-box-shadow: 0 0 $radius 0 #CCC

.shadowed
	+box-shadow(3px)

.caps
	text-transform: uppercase
