<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<% extend('../layout') %>

<div class="container" id="exercise">
<div class="row">
  <div class="col-12">
    <!-- 1) Show a "result" of 'not there yet' as long as "value" is not equal to 10 - you can change "value" with the buttons. Print 'done' once you did it -->
    <div>
        <p>Current Value: {{ value }}</p>
        <button @click="value += 5" class="btn btn-primary">Add 5</button>
        <button @click="value += 1" class="btn btn-primary">Add 1</button>
        <p>Is value greater than {{limit}}? {{ result }}</p>
        <p>(counter will reset after {{timeoutSeconds}} seconds)</p>
    </div>
    <!-- 2) Watch for changes in the "result" and reset the "value" after 5 seconds (hint: setTimeout(..., 5000) -->
    <div>
      <hr>
      <p>settings</p>
      <p>Limit: <input type="text" v-model="limit"></p>
      <p>Reset timeout (seconds): <input type="text" v-model="timeoutSeconds"></p>

    </div>
  </div>
</div>
</div>

<script type="text/javascript">
  new Vue({
    el: '#exercise',
    data: {
      value: 0,
      limit: 10,
      timeoutSeconds: 1
    },
    computed: {
      result: function(){
        return this.value > this.limit ? "Yes" : "No";
      }
    },
    watch:{
      result: function(){
        vm = this;
        setTimeout(function(){
          vm.value = 0;
        }, vm.timeoutSeconds * 1000)
      }
    }
  });
</script>
