<% extend('../layout') %>

<div class="container" id="app">
<div class="row">
  <div class="col-12">
    <template v-if="users.length > 0">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th v-for='header in schema' scope="col">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='user in users'>
            <td v-for='(value, key) in user'>{{ value }}</td>
          </tr>
          <tr>
            <td v-for='(value, key) in newUser'>
              <input type="text"
              :placeholder="key"
              v-model='newUser[key]'
              @keydown.enter='addRow'>
            </td>
          </tr>
        </tbody>
      </table>
    </template>
    <template v-else>
      <p>Failed creating table</p>
      <p v-if='apiErrorMessage'> API Error: {{ apiErrorMessage }}</p>
    </template>
  </div>
</div>
</div>

<script type="text/javascript">
  new Vue({
    el: '#app',
    data: {
      users: [],
      newUser: {},
      apiErrorMessage: ''
    },
    computed:{
      schema: function(){
        if(this.users.length > 0){
            return Object.keys(this.users[0]);
        }
      }
    },
    watch:{
      schema: function(schema){
        newUser = {};
        schema.map((k, i) => newUser[k] = '');
        this.newUser = Object.assign({}, newUser);
      }
    },
    methods:{
      addRow: function(){
        if (objectHasEmptyValue(this.newUser)) {

        }
        else{
          this.users.push(this.newUser);
        }
      }
    },
    created(){
      fetch('https://randomuser.me/api/?results=15')
        .then(response => response.json())
        .then(json => {
          for (json_user of json.results) {
            user = {
              'firstName':json_user.name.first,
              'lastName':json_user.name.last,
              'email': json_user.email
            };
            this.users.push(user);
          };
        })
        .catch((err) => this.apiErrorMessage = err.message);
    }
  });
function objectHasEmptyValue(obj) {
  for (var k in obj) {
    if (!obj[k]) {
      return true;
    }
  }
  return false;

}
</script>
